/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

body {
  min-width: 357px;
  overflow-x: hidden;
  padding: 20px;
}

ul.task-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0;

  li {
    padding: 5px;
    .edit-btn {
      float: right;
      display: none;
    }

    &:hover {
      background-color: #efefef;
      .edit-btn {
        display: inline;
      }
    }
  }

  .completed label {
    text-decoration: line-through;
    color: gray;
  }
}