/* Will be compiled down to a single stylesheet with your sass files */

html {
    /* Defaults css for cssmin process */
}

body {
  min-width: 300px;
  overflow-x: hidden;
  padding: 10px;
  font-size: 14px;
}

hr {
  margin: 10px 0;
}

#main-navigation {
  .nav-pills {
    margin-bottom: 0;
  }
  .nav-pills > li > a {
    padding: 4px 8px;

    &.active,
    &.active:hover,
    &.active:focus {
      color: white;
      background-color: #08c;
    };
  }
}

ul.task-list {
  list-style-type: none;
  padding: 0;
  margin-left: 0;

  li {
    padding: 0 5px;
    input[type=checkbox] {
      margin: 0 5px 0 0;
    }
  }
}

ul.completed-task-list {
  li {
    color: gray;
    text-decoration: line-through;
    font-size: 12px;
  }
}

ul.open-task-list {
  li {
    padding: 5px;
    border-bottom: 1px solid #eee;

    .edit-task-handle {
      display: none;
      margin-left: 5px;
      float: right;
    }

    &:hover {
      .edit-task-handle {
        display: inline;
        color: gray;
      }
    }
  }
}

#logs-page {
  #log-navigator {
    text-align: center;
    margin: 15px 0;
    .day {
      padding: 0 70px;
    }
  }

  .logs-table {
    .log-duration {
      text-align: right;
    }

    td.completed a {
      text-decoration: line-through;
      color: gray;
    }
  }
}


#timer-page {
  .timer, .title {
    text-align: center;
  }
}

// Logs page
